.empty-state {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    block-size: 100%;
    inline-size: 100%;

    font-family: var(--font--interface);

    gap: var(--spacing--vertical--expand);
}

.empty-state--details {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: var(--spacing--vertical--reduce);
}

.empty-state--icon {
    block-size: var(--size-relative-11);
    inline-size: var(--size-relative-11);

    opacity: 0.5;
}

.empty-state--text {
    font-weight: var(--font-weight-6);
}
