.stack {
    display: flex;
    flex-direction: column;

    align-items: stretch;

    gap: var(--spacing--vertical);

    &.is-spaced-expand {
        gap: var(--spacing--vertical--expand);
    }

    &.is-spaced-reduce {
        gap: var(--spacing--vertical--reduce);
    }

    &.is-aligned-center {
        align-items: center;
    }

    &.is-aligned-end {
        align-items: end;
    }

    &.is-aligned-start {
        align-items: start;
    }

    &.is-horizontal {
        flex-direction: row;

        gap: var(--spacing--horizontal);

        &.is-spaced-expand {
            gap: var(--spacing--horizontal--expand);
        }

        &.is-spaced-reduce {
            gap: var(--spacing--horizontal--reduce);
        }
    }

    &.is-justified-center {
        justify-content: center;
    }

    &.is-justified-end {
        justify-content: end;
    }

    &.is-justified-start {
        justify-content: start;
    }

    &.is-wrapped {
        flex-wrap: 1;
    }

    &:is(.is-spaced-between, .is-spaced-evenly) {
        gap: 0;
    }

    &.is-spaced-between {
        justify-content: space-between;
    }

    &.is-spaced-evenly {
        justify-content: space-evenly;
    }

    & > * {
        flex-shrink: 0;
    }
}
