:root {
    --color--contrast: var(--surface-1);
    --color--surface: var(--surface-2);
    --color--text: var(--text-1);

    --font--interface: var(--font-geometric-humanist);
    --font--monospace: var(--font-monospace-code);
    --font--text: var(--font-didone);

    --spacing--horizontal: var(--size-relative-5);
    --spacing--horizontal--expand: var(--size-relative-7);
    --spacing--horizontal--reduce: var(--size-relative-3);

    --spacing--vertical: var(--size-relative-3);
    --spacing--vertical--expand: var(--size-relative-5);
    --spacing--vertical--reduce: var(--size-relative-1);
}

html, body {
    block-size: 100%;
    inline-size: 100%;

    background-color: var(--color--surface);
    color: var(--color--text);
    font-family: var(--font--text);
    font-size: 16px;

    user-select: none;
    overflow: hidden;
}

input, textarea {
    user-select: text;
}

.lucide {
    block-size: var(--size-relative-7);
    inline-size: var(--size-relative-7);
}
